.div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.button{
    height: 30px;
    width: 30px;
    border-style: none;
    border-radius: 50%;
    background: rgba(210, 165, 42, 0.542);
    color: white;
    box-shadow: 2px 2px 6px 0px black;
    margin: 5px;
    font-size: 30px;
    align-items: center;
    /* font-weight: 800; */
}
.stock{
    color: black;
    font-size: 20px;
    font-weight: 600;
    
}
.button:hover{
    cursor: pointer;
    color:rgba(210, 165, 42, 0.542);
    background-color: white;
}