.Active{
margin: auto;
width: 600px;
height: 600px;
display: flex;
flex-wrap: wrap;
align-content: center;
justify-content: center;
}
.active{
   border-radius: 10px;
background: rgba(210, 42, 42, 0.068);
height: 250px;
width: 250px;
margin-top: 40px;
margin-left: 40px ;
text-align: center;
font-size: 35px;

text-transform: capitalize;
text-decoration: none;
transition: 0.4s;
}
.link{
color: white;
position: relative;
top: 90px;
}
.active:hover{

transform: scale(1.05);
-webkit-box-shadow: 1px 2px 7px 6px rgba(0,0,0,0.67); 
box-shadow: 1px 2px 7px 6px rgba(0,0,0,0.67);
}
